*.pdf
PRA PsH/IPython/.ipynb_checkpoints/Paper Images - Plot.ly-checkpoint.ipynb
PRA PsH/IPython/.ipynb_checkpoints/Paper Images - Copy-checkpoint.ipynb
PRA PsH/IPython/.ipynb_checkpoints/Paper Images-checkpoint.ipynb
PRA PsH/PRA-PsH-Draft.blg
PRA PsH/PRA-PsH-Draft.bbl
PRA PsH/PRA-PsH-Draft.aux
PRA PsH/PRA-PsH-Draft.synctex
PRA PsH/PRA-PsH-Draft.out
PRA PsH/PRA-PsH-Draft.log